#nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 99999;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  float: left;
  margin-left: 10px;
  /*
  background-color: red;*/
}

nav .tweet-button {
    float: right;
    display: block;
    padding: 15px 25px;
    flex-shrink: 2;
    height: 60%;
    color: #00a087;
    transition: all ease 500ms;
  }

  nav .tweet-button:hover {
    color: #00a087;
    transform: scale(1.075);
  }